<div class="navbar-container">

  <div class="navbar-logo">
    <img src="images/icons/logo.png" alt="Real-Print">
    <h1>Real Print</h1>
  </div>

  <div class="navbar-account">
    <ul>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>

</div>