<div class="navbar-container">

  <div class="navbar-logo">
    <img src="images/icons/logo.png" alt="Real-Print">
    <h1>REAL <br> <span>Print</span></h1>
  </div>

  <div class="navbar-buttons">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">Services</a></li>
      <li><a href="/">Guidelines</a></li>
      <li><a href="/">Contact</a></li>
    </ul>
  </div>

  <div class="navbar-account">
    {{#if user}}
      <ul>
        {{#ifEquals user.type "admin"}}
          <li><a href="/admin">Admin</a></li>
        {{else}}
          <li><a href="/profile">Profile</a></li>
        {{/ifEquals}}
        <li><a href="/logout">Logout</a></li>
      </ul>
    {{else}}
      <ul>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/signin">Sign In</a></li>
      </ul>
    {{/if}}
  </div>

</div>
