<div class="navbar-container">
  <div class="navbar-wrapper">
    <div class="navbar-logo">

    </div>
    <div class="navbar-nav-buttons">
      <a href="/logout">Login</a>
      <a href="/admin">Admin</a>
    </div>
  </div>
</div>