<form action="/adminLogin" method="POST">
  <label>Email</label>
  <input type="email" name="email">
  <label>Password</label>
  <input type="password" name="password">
  <button>Login</button>
</form>
{{#if error}}
  <h1>{{error}}</h1>
{{/if}}