body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


//NAVBAR
.navbar-container{
  background: blue;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//FOOTER NAVBAR
.footer-navbar-container{
  background: blue;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-navbar-wrapper{
  background: red;
  width: 80%;
  height: 100%;
}

//INDEX 
.home-container{
  width: 100%;
  min-height: 600px;
  max-height: auto;
}

.home-landing-container{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
}

.home-landing-wrapper{
  background: purple;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.sign-up-wrapper{
  background: green;
  width: 50%;
  height: 100%;
}

.log-in-wrapper{
  background: yellow;
  width: 50%;
  height: 100%;
}